# Backend settings
PUBLIC_WEB_BASE_URL=http://localhost:8000
APP_STORE_URL=
PLAY_STORE_URL=

# Mobile (Expo) settings
EXPO_PUBLIC_API_URL=http://localhost:8000
EXPO_PUBLIC_WEB_BASE_URL=http://localhost:8000

